
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    background-color: #d9f1ff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menuButton {
    cursor: pointer;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: rgba(56,118,29, .7);
    transition: transform 0.3s ease-in-out;
}

.menuButton:hover{
    transform: scale(1.2);
}

.container #homeButton {
    margin-right: 100px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.title{
    font-family: "Inter", sans-serif;
    font-weight: lighter;
    font-size: 85px;
}



